<!DOCTYPE html>
<html lang="en">

<head>
	<title>Whale Money</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css')}}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fontawesome.css')}}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css')}}">
	<meta name="robots" content="noindex, follow">
</head>

<body>

	<table class="rtable">
		<thead>
			<tr>
				<th>Amount</th>
				<th>Category</th>
				<th>Description</td>
				<th>Purchase Type</th>
				<th>Expense Time</th>
			</tr>
		</thead>
		<tbody>
			{% for entry in expense_detail_list %}
			<tr>
				<td>{{ entry.amount }}</td>
				<td>{{ entry.category }}</td>
				<td>{{ entry.description }}</td>
				<td>{{ entry.purchase_type }}</td>
				<td>{{ entry.expense_time }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</body>

</html>